CriminalDB.WcfService.Integration.Tests/Service References/CriminalDBServiceReference/CriminalDB.Services.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CriminalDB.Services" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CriminalDB.Services" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InquirerEmail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MaxRecords" type="xs:int" />
      <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Weight" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceRequest" nillable="true" type="tns:ServiceRequest" />
</xs:schema>